<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Thoughtify" />
    <meta name="keywords"
          content="HTML, CSS, JavaScript,Python, Django, Mind, Thoughts" />
    <meta name="author" content="Rob Gleason" />
    <title>Epiq Thoughts | Register</title>
  </head>
  <body>
    <div class="container">
      <h3>Create your account</h3>
      <h5>Share your thoughts</h5>
      <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
