/* login.css */

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #080808; /* Set background color to match body */
}

.container {
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #222;
}

h3,
h5 {
  color: #2a9fd6;
  text-align: center;
}

.login-form {
  margin-top: 20px;
}

.login-form input,
.login-form button {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #2a2a2a;
  border-radius: 5px;
  background-color: #080808;
  color: #ddd;
}

.login-form input:focus {
  outline: none;
  border-color: #2a9fd6;
}

.login-form button {
  background-color: #2a9fd6;
  color: #000;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.login-form button:hover {
  background-color: #72c2e9;
  box-shadow: 0px 0px 10px #72c2e9;
}
